@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Quattrocento:wght@400;700&display=swap');

/* Root */
:root {
    /* Gallery */
    --color-one: 236,236,236;
    /* Silver */
    --color-two: 194,194,194;
    /* Hillary */
    --color-three: 170,167,130;
    /* Loblolly */
    --color-four: 179,200,203;
    /* Gulf Stream */
    --color-five: 143,178,185;
    /* Nile Blue */
    --color-six: 23,54,84;
}

/* Color classes */
.gallery {
    color: var(--color-one);
}

.silver { 
    color: var(--color-two);
}

.hillary {
    color: var(--color-three);
}

.lobolly {
    color: var(--color-four);
}

.gulf-stream {
    color: var(--color-five);
}
        
.nile-blue {
    color: var(--color-six);
}

/* Body, Header, Footer styling */
body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    font-family: Quattrocento, serif;
    background: url(../images/professional-kitchen.webp) no-repeat center center/cover;
    min-height: 100vh;
    text-align: center;
}

header {
    position: relative;
    top: 0;
    text-align: center;
    font-family: Cormorant Garamond, serif, italic;
    font-size: 3em;
    font-weight: bolder;
    color: rgb(var(--color-one));
    text-shadow: 1.5px 1.5px 1.5px rgb(var(--color-six));
}

header h1 {
    margin-bottom: 0;
}

header span {
    color: rgb(var(--color-four));
}

.animated {
    animation: animation 3s ease;
}

/* heading animation */
@keyframes animation {
    from {
        letter-spacing: 15px;
    }
    to {
        letter-spacing: 0;
    }
}

footer {
    bottom: 0;
    font-size: 2em;
    text-align: center;
}
  
footer p {
    color: rgb(var(--color-four));
    margin: 0.5em 0;
}

/* displaying & hiding sections from script.js*/
.show-block {
    display: block;
}

.show-inline-flex {
display: inline-flex;
}

.hidden {
display: none;
}


#landing-page{
    display: inline-flex;
}

#button{
    font-size: 275px;
    border-radius: 50%;
    color: rgb(var(--color-five), 0.85);
}

#button:hover{
    color: rgb(var(--color-four), 0.85);
    font-size: 275px;
    border-radius: 50%;
    animation: pulse 0.5s;
}

/* External link styling styling */
.links {
    text-align: center;
    padding: 10px;
}
  
.links > li {
    display: inline-block;
}

.links > i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: rgb(var(--color-four));
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
text-align: center;
margin-bottom: 2rem;
color: #eee;
}

ul {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin: 1rem;
list-style-type: none;
font-size: 2rem;
}

ul li {
padding: 1rem;
}

/* Icon for title*/
.fab {
font-size: 3.5rem;
}
.fa-kitchen-set{
    font-size: 125px;
    color:rgb(var(--color-three));
}
/* Transitions for Github hover animations */
.fa-github{
transition: 0.5s;
cursor: pointer;
}

/* Github hover colors */
.fa-github:hover,
.fa-github:focus {
color: rgb(var(--color-two));
transform: scale(1.1);
}